		<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		xmlns:android = "http://schemas.android.com/apk/res/android"
		id        = ""
		versionCode=""
		version   = "">
		
		<platform name="android">
		<splash src="file://C:\Users\DOC\Documents\GitHub\Framework-test\Untitled-1 copy.png" qualifier="" />
		</platform>
		<platform name="winphone">
		</platform>
		 <icon src="icon.png" />
		</widget>
